# dependencies
node_modules/
backend/node_modules/

# environment variables
.env
backend/.env

# build files
dist/
build/

# logs
logs
*.log
npm-debug.log*

# coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/